{% extends 'base.html.twig' %}

{% block title %}Intervention{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
    <h1 class="mb-4">Intervention</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Client</th>
                <th>Adresse</th>
                <th>Cp</th>
                <th>Ville</th>
                <th>Date</th>
                <th>Prix</th>
                <th>Technicien</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intervention in interventions %}
            <tr>
                <td>{{ intervention['nom'] }}</td>
                <td>{{ intervention[0].adresse }}</td>
                <td>{{ intervention[0].cp }}</td>
                <td>{{ intervention[0].ville }}</td>
                <td>{{ intervention[0].date ? intervention[0].date|date('Y-m-d') : '' }}</td>
                <td>{{ intervention[0].prix }}</td>
                <td>{{ intervention['prenom'] }}</td>
                <td>
                    <a class="btn btn-primary mr-2" href="{{ path('app_intervention_show', {'id': intervention[0].id}) }}">Voir +</a>
                    <a class="btn btn-success" href="{{ path('app_intervention_edit', {'id': intervention[0].id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune intervention</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_intervention_new') }}">Create new</a>
{% endblock %}


