{% extends 'base.html.twig' %}

{% block title %}Intervention {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h1>Intervention {{ client.nom }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Client</th>
                <td>{{ client.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ realisation.adresse }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ realisation.cp }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ realisation.ville }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ realisation.prix }} €</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ realisation.date ? realisation.date|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Technicien</th>
                <td>{{ technicien[0].nom }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ categorie.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_realisation_index') }}">Retour</a>

    <a class="btn btn-success" href="{{ path('app_realisation_edit', {'id': realisation.id}) }}">Modifier</a>
        </div>
    </div>
</div>

{% endblock %}
